<footer class="site-footer">
  <div class="footer-content">
     <div class="footer-left">
    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo"></a>
</div>
<div class="footer-right">
    <div class="footer-text">
      <p>contato@defogdesign.com</p>
    </div>

    <a href="https://www.instagram.com/defog_design/" target="_blank">
      <img src="{{ url_for('static', filename='img/insta.avif') }}" alt="Insta" class="footer-img-quadrada">
    </a>

    <a href="https://www.behance.net/defogdesign" target="_blank">
      <img src="{{ url_for('static', filename='img/Be.avif') }}" alt="Imagem 3" class="footer-img-quadrada2">
    </a>
    </div>
  </div>
</footer>