<header> <!-- Adicionaremos a classe via JS -->
    <div class="topo">
        <div class="logo-hamburger">
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo"></a>
            <button class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>

        <nav>
            <div class="menu-links">
        <a href="/#projetos">Projetos</a>
        <a href="/#processos">Processos</a>
        <a href="/#sobre">Sobre</a>
                <a href="/prova-social">Prova social</a>
                <a href="/contato">Contato</a>
            </div>
        </nav>
    </div>
</header>