<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_aba.png') }}" type="image/png">
    <title>Defog Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    
    <div class="page-transition">

{% include "header.html" %}

    <div class="content">



            <div class="projetos-container">
    <section id="sobre2">
        <h2>Marcas que contam histórias.</h2>
        <p>Somos especializados em criar identidades visuais que elevam marcas a novos patamares. Nossos projetos  traduzem os objetivos, atributos e características do seu negócio em design, para potencializar seu posicionamento e transformá-lo num ecossistema de marca icônico .  </p>
        <a href="/contato"><button class="design-button">Comece seu Design</button></a>
    </section>
</div>




<section id="projetos">

<div class="projetos-container">

    <div class="projeto-item">
        <a href="/altoge" class="projeto-link">
            <img src="{{ url_for('static', filename='img_projetos/altoge.avif') }}" alt="Altoge" class="projeto-img">

        </a>
    </div>

    <div class="projeto-item">
        <a href="/wyuka" class="projeto-link">
            <img src="{{ url_for('static', filename='img_projetos/wyuka.avif') }}" alt="Wyuka" class="projeto-img">

        </a>
    </div>

    <div class="projeto-item">
        <a href="/homemvoa" class="projeto-link">
            <img src="{{ url_for('static', filename='img_projetos/homemvoa.avif') }}" alt="homemvoa" class="projeto-img">

        </a>
    </div>

    






















</div>
</section>






<section id="processos">
<div class="projetos-container">
    <div class="processos">
        <h2>PROCESSOS</h2>
        
<div class="processo-item">
    <div class="processo-cabecalho">
        <span class="processo-numero">1.</span>
        <span class="processo-texto">Diagnóstico</span>
        <div class="processo-seta">
            <span class="seta-linha"></span>
            <span class="seta-linha"></span>
        </div>
    </div>
    <div class="processo-conteudo">
        <p>Um exame apurado para identificar como o Design irá posicionar sua identidade visual no mercado. Onde alinhamos todas as expectativas e objetivos que nortearão o projeto.</p>
    </div>
    <div class="processo-linha"></div>
</div>


        
<div class="processo-item">
    <div class="processo-cabecalho">
        <span class="processo-numero">2.</span>
        <span class="processo-texto">Planejamento</span>
        <div class="processo-seta">
            <span class="seta-linha"></span>
            <span class="seta-linha"></span>
        </div>
    </div>
    <div class="processo-conteudo">
        <p>Etapa que determina os insumos de Marketing que serão o leme do projeto. Um relatório que vai apresentar elementos que vão estabelecer a concepção do Design de forma estratégica. </p>
    </div>
    <div class="processo-linha"></div>
</div>

<div class="processo-item">
    <div class="processo-cabecalho">
        <span class="processo-numero">3.</span>
        <span class="processo-texto">Fluxo Visual</span>
        <div class="processo-seta">
            <span class="seta-linha"></span>
            <span class="seta-linha"></span>
        </div>
    </div>
    <div class="processo-conteudo">
        <p>Após a aprovação da parte estratégica, entramos no domínio gráfico. Nesta etapa é determinado o curso e direção estética da nossa Identidade Visual. Será apresentado e discutido o Moodboard , contendo referências artísticas e de marcas de sucesso no mundo. </p>
    </div>
    <div class="processo-linha"></div>
</div>


<div class="processo-item">
    <div class="processo-cabecalho">
        <span class="processo-numero">4.</span>
        <span class="processo-texto">Logotipo</span>
        <div class="processo-seta">
            <span class="seta-linha"></span>
            <span class="seta-linha"></span>
        </div>
    </div>
    <div class="processo-conteudo">
        <p>É chegado o momento da produção do logotipo. Momento no qual é depositado todo repertório estratégico e referencial gráfico para a produção de uma marca icônica e aplicável em sua plenitude. </p>
    </div>
    <div class="processo-linha"></div>
</div>

<div class="processo-item">
    <div class="processo-cabecalho">
        <span class="processo-numero">5.</span>
        <span class="processo-texto">Identidade Visual</span>
        <div class="processo-seta">
            <span class="seta-linha"></span>
            <span class="seta-linha"></span>
        </div>
    </div>
    <div class="processo-conteudo">
        <p>É a hora em que se materializa a Identidade Visual, com o logotipo, cores, tipografia, Pattern, Iconografia. Um conjunto coeso e graficamente interligado por um DNA. Se fará presente em diversas aplicações digitais que mostram como se comportará o novo ecossistema visual. </p>
    </div>
    <div class="processo-linha"></div>
</div>


<div class="processo-item">
    <div class="processo-cabecalho">
        <span class="processo-numero">6.</span>
        <span class="processo-texto">Apresentação</span>
        <div class="processo-seta">
            <span class="seta-linha"></span>
            <span class="seta-linha"></span>
        </div>
    </div>
    <div class="processo-conteudo">
        <p>É chegado o momento da produção do logotipo. Momento no qual é depositado todo repertório estratégico e referencial gráfico para a produção de uma marca icônica e aplicável em sua plenitude. </p>
    </div>
    <div class="processo-linha"></div>
</div>

<div class="processo-item">
    <div class="processo-cabecalho">
        <span class="processo-numero">7.</span>
        <span class="processo-texto">Entrega</span>
        <div class="processo-seta">
            <span class="seta-linha"></span>
            <span class="seta-linha"></span>
        </div>
    </div>
    <div class="processo-conteudo">
        <p>O caminho percorrido nos traz ao momento do envio do manual de marca, documento dogmático em que estarão as normas de utilização da marca assim como designações técnicas para o futuro de uma nova era para empresa. Também é a hora do envio de todos os arquivos oficiais da Identidade Visual para suas aplicações , em diversos formatos e em altíssima qualidade. </p>
    </div>
    <div class="processo-linha"></div>
</div>
        
        <!-- Repita para os outros itens -->
    </div>
</div>
</section>




<section id="sobre">
<div class="projetos-container">
  <div class="Perfil">
    <img src="{{ url_for('static', filename='img/fernando.avif') }}" alt="fernando" class="projeto-img-perfil">
    <div class="perfil-conteudo">
      <h6>Fernando Neiva</h6>
      
        <p>Oi, me chamo Fernando Neiva, proprietário da Defog Design. Tenho 7 anos de experiência no Design, especialidade que amo vivenciar todos os dias.</p>

        <p>Em todas as etapas do processo criativo nos deparamos com a oportunidade de desenvolver Identidades visuais proprietárias com estratégia de mercado coesa, que dão significado ao propósito de marcas icônicas.</p> 

        <p>Trabalhamos com uma metodologia sólida para entregar projetos robustos que traduzem a sua essência, a cada etapa dos processos, damos luz a identidades visuais harmônicas, criativas e funcionais.</p> 

        <p>Todos os projetos nos trazem histórias únicas e inspiradoras, o que você trilhou até aqui deve ser vestido com um traje único, com o seu DNA, que irá fazer a diferença no mercado.</p>
      
    </div>
  </div>
</div>
</section>

<div class="projetos-container">

<div class="final-pai">

<div class="final">

      <h6>Tenha uma Identidade <br>
Visual Proprietária<br>
e diferenciada</h6>
      
        <p>Vamos construir uma identidade visual sólida que vai <br> impulsionar seu negócio.</p>

                <a href="/contato"><button class="design-button">Comece seu Design</button></a>

</div>


</div>


</div>



</div>

{% include "footer.html" %}






    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>
